/Tecnicas-de-Programacao/JavaApplication7/nbproject/private/
/Tecnicas-de-Programacao/JavaApplication7/build/
/Tecnicas-de-Programacao/TecnicasDeProgramacao/nbproject/private/
/Tecnicas-de-Programacao/TecnicasDeProgramacao/build/