* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 auto; 
    cursor: default;
}

body {
    text-align: center;
}

h1 {
    padding: 25px;
    color: #4CAF50;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

h2 {
    padding: 25px;
    color: #4CAF50;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration-line: none;
    font-size: 27px;
    color: #067c8b;
    display: inline-block;
    margin: 20px;
    transition: all ease 0.2s;
}

a:hover{
    color: #8b0663;
    transition: all ease 0.2s;
    cursor: pointer;
}

p{
    text-decoration-line: none;
    font-size: 22px;
    color: #0968a0;;
}

strong{
    color: #ec510a;
    font-size: 22px;
}

hr{
    margin-bottom: 30px;
}

table {
    width: 50%;
    margin: auto;
    border-color: #4CAF50;
    border-radius: 10px;
    color: #8df290;
    border-collapse: collapse;
    border-spacing: 0px;
    border-style: none;
}

tr {
    background: #FFFFF0;
    border-collapse: collapse;
    border-style: none;
    border-spacing: 0px;
}

td{
    color: #076b79;
    font-size: 22px;
    padding: 10px 15px 10px 15px;
    border-spacing: 0px;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #ccffcc;
    border-collapse: collapse;
}

tr:hover {
    background: #200023;
    color: #FFFFF0;
    border-collapse: collapse;
}

td:hover{
    background-color: #0095ff;
    color: White;
    border-radius: 3px;
    cursor: pointer;
}

.destaque{
    color: #8b0663;
}

.voltar, .voltar:hover{
    display: flex;
    position: absolute;
    text-decoration-line: none;
    font-size: 70px;
    color: #4CAF50;;
}

form {
    margin: auto;
    width: 20%;
    padding: 2%;
    border-style: solid;
    border-color: #4CAF50;
    border-radius: 10px;
    transition: all ease .2s;
}

form:hover {
    border-color: #4C50AF;
    transition: all ease .2s;
    margin: auto;
}

form textarea { 
    vertical-align: top; 
}

input, textarea{
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.botao {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all ease .2s;
    width: 150px;
    margin: 0;
}

.botao:hover {
    background-color: #4C50AF;
    transition: all ease .2s;
}

.botao-atualizar {
    background-color: #4CAF50;
    border: none;
    color: #ebeff0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all ease .2s;
    font-size:  30px;
    padding: 20px;
    width: 50%;
    margin: 0;
}

.botao-atualizar:hover {
    background-color: #8387e0;
    color: #fff;
    transition: all ease .2s;
}

