* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body {
    margin: 50 auto;
    text-align: center;
}

h1 {
    color: #4CAF50;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

a{
    text-decoration-line: none;
    font-size: 27px;
    color: #067c8b;
    display: inline-block;
    margin: 20px;
    transition: all ease 0.2s;
}

a:hover{
    font-size: 29px;
    color: #8b0663;
    transition: all ease 0.2s;
}

p{
    text-decoration-line: none;
    font-size: 22px;
    color: #0968a0;;
}

strong{
    text-decoration-line: none;
    font-size: 25px;
    color: #ec510a;;
}

.valor{
    font-size: 27px;
    color: #e08823;
    padding: 50px;
}

.voltar{
    display: flex;
    position: absolute;
    text-decoration-line: none;
    font-size: 70px;
    color: #4CAF50;;
}

.voltar:hover{
    display: flex;
    position: absolute;
    text-decoration-line: none;
    font-size: 70px;
    color: #0b669b;;
}

hr{
    margin-bottom: 30px;
}

table {
    width: 30%;
    margin: 0 35% 0 35%;
    border: 3px solid;
    border-color: #4CAF50;
    border-radius: 10px;
}

td{
    color: #067c8b;
    font-size: 22px;
}

.destaque{
    color: #8b0663;
}